.tab {
  border-bottom-width: calc(0.25rem * var(--mantine-scale));
  border-bottom-style: solid;

  &:global(.light) {
    background-color: var(--mantine-color-white);

    @mixin hover {
      background-color: var(--mantine-color-gray-0);
    }
  }

  &:global(.dark) {
    background-color: var(--mantine-color-dark-7);

    @mixin hover {
      background-color: var(--mantine-color-dark-6);
    }
  }
}
