[submodule "src-tauri/embedded/workspace/websockify"]
	path = src-tauri/embedded/workspace/websockify
	url = https://github.com/nekops-app/websockify-go.git
[submodule "src-tauri/embedded/workspace/pipessh"]
	path = src-tauri/embedded/workspace/pipessh
	url = https://github.com/nekops-app/pipessh.git
